* { font-family: 'Lato', sans-serif; }

html {

}

hr { border-top: 1px dashed #777; }

li { display: inline-block; }

.panel {
    border: 0;
}

.panel-group .panel {
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
}

.panel-default > .panel-heading {
    background: 0;
    padding: 10px 0;
}

.panel-title { font-size: 30px; }
.panel-title a,
.panel-title a:hover {
    text-decoration: none;
}

.filter-item__input { display: none; }

.filter-item__input + label {
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-weight: normal;
    margin: 5px;
    padding: 5px 5px;
    transition: .3s ease-in;
}

.filter-item__input:checked + label {
    background-color: #000;
    color: #fff;
}

.skill {
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
    padding: 5px 5px;
    transition: .3s ease-in;
}


.skill:hover {
    color: #fff;
    background-color: #000;
}

.negative { 
    border: 1px solid #de0f00;
    color: #de0f00;
}

.negative:hover {
    color: #fff;
    background-color: #de0f00;
}

.skill-submit__wrapper {
    max-width: 200px;
    position: relative;
}

.skill-submit__input {
    border: 0;
    border-bottom: 1px solid #000;
    width: 100%;
}
.skill-submit__input:focus {
    outline: 0;
}

#process_input {
    position: absolute;
    top: 0;
    right: 0;
}

.skill-submit__button {
    border: 0;
    /*border-right: 1px solid #000;*/
    background: none;
    color: #222;
}

.error-container {
    min-height: 30px;
}

#start-button {
    background: #000;
    border: 1px solid #000;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: bold;
    margin: 40px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: .2s ease-in;
}

#start-button:hover {
    background-color: #fff;
    color: #000;
}

#start-button:focus {
    outline: 0;
}