<!doctype html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $('a#process_input').bind('click', function() {
        $.getJSON('/config_stack', {
          stack: $('input[name="stack"]').val(),
        }, function(data) {
          if (data.result.startsWith('-')){
            $("#result").append("<span class='skill negative'>"+data.result.slice(1,)+"</span>");
            skills_removable();
          } else {
            $("#result").append("<span class='skill positive'>"+data.result+"</span>");
            skills_removable();
          }
        });
        return false;
        });
      });

      $( document ).ready(function() {
        skills_removable();
      });
      
      function skills_removable() {
        $('.skill').bind('click', function() {
        if ($(this).hasClass('negative')){
          $(this).remove();
          $.getJSON('/remove_skill', {
            skill: "-"+$(this).text(),
          });
        } else {
          $(this).remove();
          $.getJSON('/remove_skill', {
            skill: $(this).text(),
          });
        }
        return false;
        });
      }
    </script>
  </head>
  <body>
    <div class="container">
      <nav>
        <h1>nofluffscrapper</h1>
      </nav>
      <section class="filters">
        {% for key, value in form_items.items() %}
        <form action="" method="POST">
          <h2 class="">{{ key }}</h2>
          <ul>
            {% for element, checked in value.items() %}
              <li>
                <input type="checkbox" id="{{ element }}" name="{{ element }}" {% if checked == "on"%}checked{% endif %}/>
                <label for={{ element }} class="">{{ element }}</label>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
        <input type="Submit" value="Submit"/>
      </form>
      </section>
      <section class="stack" style="margin-top: 40px;">
        <form action="" method="POST">
          <h2>Skills</h2>
          <p id="result">
          {% for key, value in stack_items.items() %}
              {% if value == "0"%}
                <span class="skill negative">{{- key[1:] -}}</span>
              {% else %}
                <span class="skill positive">{{ key }}</span>
              {% endif %}
          {% endfor %}
          </p>
          <input type="text" name="stack">
          <a href="#" id="process_input"><button>Submit</button></a>
        </form>
      </section>
    </div>
  </body>
</html>
